<!doctype html>
<html>
  <head>
    <link href="/static/css/stylin.css" rel="stylesheet">

    <!-- Fonts/Gliphys -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans" rel="stylesheet">
  </head>

{% extends "nav.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            {% if user.picture_url == None %}
                <td><img src="{{ user.avatar(128) }}"></td>
            {% else %}
                <td><img src="{{ user.picture_url }}"></td>
            {% endif %}

            {% if user == current_user %}
                <a href="{{ url_for('edit_profile') }}"><button class="button edit_button">Edit your profile</button> </a>
                <br>
                <br>
            {% endif %}
            <td>
                <h1>User: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <h3>Last seen on: {{ moment(user.last_seen).format('LLL') }}</h3>
                {% endif %}

                <h3>Dietary Restrictions: {{ user.dietary_restrictions }}</h3>
            </td>
        </tr>
    </table>
    <hr>
    {% if user == current_user %}
        <h3>Dinners You're Hosting:</h3>
    {% else %}
        <h3>Dinners They're Hosting:</h3>
    {% endif %}

    {% if not current_user.hosting_dinners() and user == current_user %}
        <p>You aren't hosting any dinners yet :/ Let's change that!</p>
    {% endif %}

    {% for dinner in dinners %}
        {% include '_dinner.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}

</html>